.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: white;
  align-content: center;
  align-items: center;
  color: white;
}

/* .App-header {
  margin: 0%;
  padding: 0%;
  white-space: normal;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  border-bottom-left-radius: 2ch;
  border-bottom-right-radius: 2ch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.menuButton {
  font-family: "Arial"; /*Arial, Lucida Sans Unicode, Arial Narrow*/
  font-weight: 300;
  font-size: 5mm;
  letter-spacing: 0.5mm;
  background-color: #71b38b;
  color: white;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}