.header {
  width: 100%;
  background-color: #7eca9c;
}

.headerRow {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.headerContainer {
  background-color: #71b38b;
  padding: 70px 0px 70px 0px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  height: 150px;
  width: 30%;
  border-radius: 0px 150px 20px 0px;
}

.headerText {
  text-align: left;
  text-justify: auto;
  width: fit-content;
  padding-left: 10%;
  font-size: 15mm;
  font-weight: 500;
  color: white;
  font-family: "Segoe UI"; /*Arial, Lucida Sans Unicode, Arial Narrow*/
}
