.tileRow {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
}

.icon {
  font-size: 25mm;
  color: #7eca9c;
  stroke: white;
  stroke-width: 25px;
}

.invisibleIcon {
  opacity: 0;
  font-size: 25mm;
  color: #7eca9c;
  stroke: white;
  stroke-width: 25px;
}

.container {
  background-color: #71b38b; /*give brighter color of background of the division*/
  padding: 2px 15px 4px 15px;
  border-radius: 2ch;
  margin-right: 5px;
}
