.tileRow {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
}

.icon {
  font-size: 3ch;
  color: #161616; /*give background of the division to make it look hollow*/
  stroke: white;
  stroke-width: 30px;
}

.container {
  background-color: rgb(
    107,
    107,
    18
  ); /*give brighter color of background of the division*/
  padding: 0px 10px 2px 10px;
  border-radius: 2ch;
  margin: 0px 8px 0px 5px;
}

.text {
  color: white; /*black or white?*/
  font-family: "Segoe UI"; /*Arial, Lucida Sans Unicode, Arial Narrow*/
}
